.if-error {
  color :red;
}

label {
  border : 1px solid black;
  color: rgb(0, 0, 0);
  margin-right: 20px;
}


form {
  border: 1px solid black;
  width: 300px;
}


button {
  margin-left: 50px;
}
